# Application related files
.env

# The distribution directory
dist/

# Javascript dependencies
node_modules/

# Unit tests coverage report
coverage/

# Log files
npm-debug.log

# Other OS config files
.DS_Store
