doctype html

// Vue Start Kit
// This is the HTML boilerplate.
// @author Rogerio Taques
// @license MIT

html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")

    title Vue Start Kit

    link(rel="stylesheet", href="../node_modules/seed-css/dist/seed.css")
    link(rel="stylesheet", href="../node_modules/eva-icons/style/scss/eva-icons.scss")

  body
    div#app
    script(type="text/javascript", src="./index.ts")
